<div class="container mt-5">
    <h2 class="text-center mb-4">User Information Form</h2>
    <form #form="ngForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">First Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="student.firstname" #fname="ngModel"  pattern="^[a-zA-Z]+$"   required name="firstname" placeholder="Enter your first name">
          @if(fname.errors?.['required'] &&  (fname.touched && fname.dirty  ||  form.submitted )){
            <div class="text-danger">
                First name is required field.
            </div>
          }

          @if(fname.errors?.['pattern'] &&   (fname.touched && fname.dirty  ||  form.submitted )){
            <div class="text-danger">
                Allowed characters only.
            </div>
          }
         
        </div>
        <div class="col-md-6">
          <label class="form-label">Last Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="student.lastname" #lname="ngModel" name="lastname" required placeholder="Enter your last name">
          @if(lname.errors?.['required']  &&  (lname.touched && lname.dirty  ||  form.submitted )){
          <div class="text-danger">
            Last name is required field.
          </div>
         }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control" [(ngModel)]="student.email" required email #email="ngModel" name="email" placeholder="Enter your email">
          
          @if(email.errors?.['required']  &&  (email.touched && email.dirty  ||  form.submitted )){
            <div class="text-danger">
                Email is required field.
            </div>
          }
          @if(email.errors?.['email']  &&  (email.touched && email.dirty  || form.submitted )){
            <div class="text-danger">
               Please enter proper email format.
            </div>
          }
          
        </div>
        <div class="col-md-6">
          <label class="form-label">Mobile<span class="text-danger">*</span></label>
          <input type="tel" class="form-control"  [(ngModel)]="student.mobile" pattern="^[0-9]+$" required #mobile="ngModel" name="mobile" placeholder="Enter your mobile number">
          @if(mobile.errors?.['required']  &&  ( mobile.touched && mobile.dirty || form.submitted )){
            <div class="text-danger">
                Mobile is required field.
            </div>
          }
          @if(mobile.errors?.['pattern'] && ( mobile.touched && mobile.dirty || form.submitted )){
            <div class="text-danger">
                Allowed numbers only.
            </div>
          }
        </div>
      </div>
      <div class="mb-3">
        <label  class="form-label">Address<span class="text-danger">*</span></label>
        <textarea class="form-control" rows="3"  required [(ngModel)]="student.address" #address="ngModel"  name="address" placeholder="Enter your address"></textarea>
        @if(address.errors?.['required']  &&  ( address.touched && address.dirty || form.submitted )) {
            <div class="text-danger">
                Address is required field.
            </div>
        }
      
      </div>
      <div class="text-center">
        <button type="submit"  (click)="onSubmit(form)" class="btn btn-primary me-3">Submit</button>
        <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
      </div>
    </form>
  </div>